* {
  font-family: "PT Sans", sans-serif;
}
#showcase {
  padding-top: 90px;
}
#btnRead {
  box-shadow: inset 0 0 0 0 silver;
  transition: ease-out 0.3s;
  outline: none;
}
#btnRead:hover {
  box-shadow: inset 130px 0 0 0 silver;
  color: black;
}

#btnRead2 {
  box-shadow: inset 0 0 0 0 silver;
  transition: ease-out 0.3s;
  outline: none;
}
#btnRead2:hover {
  box-shadow: inset 275px 0 0 0 silver;
  color: black;
}
#fb {
  color: rgb(0, 132, 255);
  font-size: 30px;
}
